@font-face {
  font-family: 'Lato-Black';
  src: url("assets/Lato-Black.ttf");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("assets/Lato-Bold.ttf");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("assets/Lato-Light.ttf");
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("assets/Lato-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 0 6px 0;
  padding: 0;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

.wrapper .title {
  font-family: Lato-Black;
  margin: 0px;
  font-size: 30px;
  letter-spacing: -0.2px;
  line-height: 23px;
  color: #666d89;
}

.wrapper p {
  margin-top: 24px;
  margin-bottom: 4px;
  font-family: Lato-Light;
  color: #767e9e;
  font-size: 18px;
  text-align: justify;
  line-height: 30px;
}

header {
  position: fixed;
  width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  padding: 0 40px;
  padding-top: 15px;
  background-color: #2d303a;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Lato-Bold;
  z-index: 2;
}

header .burger {
  display: none;
}

header a {
  text-decoration: none;
}

header .logo {
  font-size: 24px;
  color: #ffffff;
}

header .logo:hover {
  cursor: pointer;
}

header .logo span {
  color: #f06c64;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header li {
  margin-left: 29px;
  font-size: 12px;
  padding-left: 0px;
  padding-top: 11px;
  position: relative;
  color: #ffffff;
}

header li:not(:first-child)::after {
  position: absolute;
  content: ".";
  left: -14px;
  top: 8px;
  opacity: 0.3;
}

header li:hover {
  cursor: pointer;
  opacity: 0.8;
}

header .active {
  color: #f06c64;
}

.line {
  height: 5px;
  width: 100%;
}

.line-header {
  background-color: #323746;
  padding-top: 94px;
}

.line-slider {
  opacity: 0;
}

.home {
  position: relative;
}

.red-line {
  margin-top: 80px;
  width: 1020px;
  margin-left: -40px;
  background-color: #ea676b;
}

.blue-line {
  background-color: #6992Ff;
  width: 1020px;
  margin-left: -40px;
  margin-top: 25px;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.slider-item {
  position: relative;
  padding: 5.2% 3.4% 0;
  max-width: 100%;
}

.slider-item .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-item .shadow {
  border-radius: 25px;
  -webkit-box-shadow: 25px 25px 1px #ce5d56;
          box-shadow: 25px 25px 1px #ce5d56;
}

.slider-item .phone {
  position: relative;
}

.slider-item .phone:hover {
  cursor: pointer;
}

.slider-item .vertical_mobile {
  margin-left: 8%;
  position: relative;
  z-index: 1;
}

.slider-item .vertical_mobile img {
  width: 216px;
  height: 459px;
}

.slider-item .vertical_mobile .mobile1 {
  position: absolute;
  width: 189px;
  height: 334px;
  top: 65px;
  left: 14px;
  background-color: black;
  z-index: 2;
}

.slider-item .horisontal_mobile {
  margin-top: 12.8%;
  margin-right: 10.7%;
  position: relative;
  z-index: 1;
}

.slider-item .horisontal_mobile img {
  width: 459px;
  height: 216px;
}

.slider-item .horisontal_mobile .mobile2 {
  position: absolute;
  width: 334px;
  height: 190px;
  top: 14px;
  left: 60px;
  background-color: black;
  z-index: 2;
}

.slider .centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .centered img {
  width: 50%;
}

.arrow {
  position: absolute;
  top: 47%;
}

.arrow-left {
  margin-left: 40px;
}

.arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 40px;
  right: 0;
}

.arrow-left, .arrow-right {
  z-index: 1;
}

.arrow-left:hover, .arrow-right:hover {
  cursor: pointer;
}

.red {
  background-color: #f06c64;
}

.blue {
  background-color: #648BF0;
}

.hidden {
  display: none;
}

.our_services {
  background-color: #f2f2f2;
  padding: 37px 15px 46px 40px;
  position: relative;
}

.our_services h2 {
  font-family: Lato-Black;
  font-size: 30px;
  margin-top: 29px;
  color: #666d89;
  line-height: 22px;
}

.our_services__title {
  margin-top: 10px;
  margin-right: 12px;
  padding-right: 15px;
  text-align: justify;
  font-family: Lato-Light;
  font-size: 18px;
  color: #767e9e;
  line-height: 30px;
  margin-bottom: 3px;
}

.articles_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 36px;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 83px;
  margin-right: 20px;
  margin-bottom: 40px;
}

article img {
  width: 59px;
  height: 59px;
  margin-top: 11px;
}

article .article-about {
  padding-left: 20px;
}

article .article-about h3 {
  font-family: Lato-Black;
  font-size: 18px;
  color: #666d89;
  line-height: 0px;
}

article .article-about div {
  width: 220px;
  height: 65.454px;
  text-align: justify;
  font-family: Lato-Regular;
  font-size: 12px;
  color: #767e9e;
  line-height: 22px;
  overflow: hidden;
}

.portfolio {
  background-color: #272C38;
  padding: 65px 40px 57px;
  position: relative;
}

.portfolio-header {
  margin-bottom: 19px;
}

.portfolio-title {
  font-family: Lato-Black;
  margin: 0px;
  font-size: 30px;
  letter-spacing: -0.2px;
  line-height: 23px;
  color: #666d89;
}

.portfolio-description {
  margin-right: 20px;
}

.portfolio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 0 0 1px;
}

.portfolio li {
  height: 22px;
  list-style-type: none;
  margin-top: 8px;
  font-family: Lato-Regular;
  color: #767e9e;
  font-size: 12px;
  margin-right: 10px;
  border: 1px solid #767e9e;
  border-radius: 4px;
  padding: 2px 6px;
}

.portfolio li:hover {
  cursor: pointer;
  background-color: #dedede;
  color: #767e9e;
  border: 1px solid #dedede;
}

.portfolio .active {
  color: #dedede;
  border: 1px solid #dedede;
}

.portfolio .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -5px;
  margin-top: -5px;
  margin-right: -15px;
}

.portfolio .images div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 10px 6px 0;
  display: block;
}

.portfolio .images div:nth-child(n + 13) {
  display: none;
}

.portfolio .images img {
  width: 100%;
  border: 5px solid;
  position: relative;
}

.portfolio .images .shake {
  -webkit-animation: shake 0.5s ease-out;
          animation: shake 0.5s ease-out;
}

.portfolio .images .noborder {
  border-color: transparent;
}

.portfolio .images .showingBorder {
  -webkit-animation: portfolioPictureBorder 1s ease-out forwards;
          animation: portfolioPictureBorder 1s ease-out forwards;
}

.portfolio .images .hiddingBorder {
  -webkit-animation: hiddingBorder 1s ease-out forwards;
          animation: hiddingBorder 1s ease-out forwards;
}

.portfolio .images .bordered {
  border-color: #F06C64;
}

.portfolio-line {
  width: 100%;
  height: 6px;
  background-color: #2C3445;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-us {
  background-color: #f2f2f2;
  padding: 67px 20px 47px 40px;
}

.team {
  padding-top: 41px;
  padding-bottom: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-people {
  width: 100%;
  margin-right: 20px;
}

.team-people-image {
  overflow: hidden;
  width: 100%;
}

.team-people-image img {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  width: 100%;
  height: 100%;
}

.team-people-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team-people h3 {
  color: #666d89;
  font-size: 18px;
  font-family: Lato-Black;
  margin-top: 12px;
  margin-bottom: 7px;
  letter-spacing: -0.2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.team-people .description {
  margin-top: 0;
  line-height: 21px;
  color: #767e9e;
  font-size: 12px;
  font-family: Lato-regular;
  letter-spacing: -0.1px;
  word-spacing: 0.3px;
  text-align: justify;
}

.team-people--icons {
  margin-top: 24px;
  letter-spacing: 4px;
}

.team-people--icons img {
  border-radius: 50%;
  cursor: pointer;
}

.team-people--icons img:hover {
  background-color: #afb6d1;
}

.quote {
  background-color: #FF6C64;
  padding: 66px 40px 0;
  margin-top: 6.5px;
}

.quote-title {
  font-family: Lato-Black;
  margin: 0px;
  font-size: 30px;
  letter-spacing: -0.2px;
  line-height: 23px;
  color: #fff;
}

.quote p {
  margin-top: 24px;
  margin-bottom: 4px;
  font-family: Lato-Light;
  color: #fff;
  font-size: 18px;
  text-align: justify;
  line-height: 30px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  color: #f0d8d9;
}

.info form {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f48c8f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info form input {
  height: 38px;
}

.info form input:-internal-autofill-selected {
  -webkit-animation-name: autofill;
          animation-name: autofill;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.info form .text {
  width: 100%;
  border: none;
  font-size: 12px;
  font-family: Lato-Regular;
  color: #fff;
  background-color: #D6564F;
  border-radius: 4px;
  margin-bottom: 16px;
  padding-left: 15px;
}

.info form .text::-webkit-input-placeholder {
  color: #f48c8f;
}

.info form .text:-ms-input-placeholder {
  color: #f48c8f;
}

.info form .text::-ms-input-placeholder {
  color: #f48c8f;
}

.info form .text::placeholder {
  color: #f48c8f;
}

.info form textarea {
  height: 201px;
  padding-top: 10px;
}

.info form .submit {
  width: 100px;
  background-color: #FBC65F;
  margin-bottom: 14px;
  color: #886A30;
  padding: 5px 10px;
}

.info form .submit:hover {
  cursor: pointer;
  background-color: #886A30;
  color: #FBC65F;
}

.contact {
  width: 32%;
  margin-left: 20px;
  color: #f0d8d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact h3 {
  font-family: Lato-Black;
  font-size: 18px;
  margin-top: -3px;
  margin-bottom: 4px;
}

.contact p {
  font-family: Lato-Regular;
  font-size: 12px;
  margin-top: 4px;
  line-height: 22px;
  word-spacing: -1px;
  margin-bottom: 25px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  font-family: Lato-Regular;
  font-size: 12px;
  line-height: 13px;
}

.contact-info-image {
  width: 24px;
}

.contact-info-image img {
  margin-right: 13px;
}

.contact-info a {
  color: #f0d8d9;
  text-decoration: none;
}

.quote-line {
  height: 6px;
  background-color: #FF676C;
}

footer {
  background-color: #272C38;
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  color: #656d89;
  font-family: Lato-Regular;
  font-size: 12px;
}

footer .social-icons {
  margin-top: 4px;
}

footer .social-icons img {
  margin-left: 5px;
  border-radius: 50%;
}

footer .social-icons img:hover {
  cursor: pointer;
  background-color: #afb6d1;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: load-modal 1s ease;
          animation: load-modal 1s ease;
}

.modal-window {
  position: absolute;
  max-width: 300px;
  padding: 20px;
  background-color: #FF6C64;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  -webkit-animation: load-modal-window 2s ease;
          animation: load-modal-window 2s ease;
}

.modal-window p {
  color: #fff;
  margin: 0;
  text-align: justify;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 57vh;
}

.modal-window-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-window-data {
  font-size: 16px;
}

.modal-window-button {
  text-align: center;
  margin-top: 15px;
}

.modal-window-button-action {
  background-color: #fff;
  border: 0;
  color: #f15c55;
  border-radius: 5px;
  padding: 5px 10px;
}

.modal-window-button-action:hover {
  cursor: pointer;
}

.hide {
  -webkit-animation: hideModal 2s ease forwards;
          animation: hideModal 2s ease forwards;
}

.hide .modal-window {
  opacity: 0;
  -webkit-animation: hideModal-window 1s ease;
          animation: hideModal-window 1s ease;
}

@-webkit-keyframes load-modal {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes load-modal {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@-webkit-keyframes load-modal-window {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

@keyframes load-modal-window {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

@keyframes load-modal-window {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hideModal-window {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideModal-window {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes hideModal {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes hideModal {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes autofill {
  to {
    color: #fff;
    background-color: #D6564F;
  }
}

@keyframes autofill {
  to {
    color: #fff;
    background-color: #D6564F;
  }
}

@-webkit-keyframes portfolioPictureBorder {
  20% {
    border-color: #F06C64;
  }
  40% {
    border-color: transparent;
  }
  60% {
    border-color: #F06C64;
  }
  80% {
    border-color: transparent;
  }
  100% {
    border-color: #F06C64;
  }
}

@keyframes portfolioPictureBorder {
  20% {
    border-color: #F06C64;
  }
  40% {
    border-color: transparent;
  }
  60% {
    border-color: #F06C64;
  }
  80% {
    border-color: transparent;
  }
  100% {
    border-color: #F06C64;
  }
}

@-webkit-keyframes hiddingBorder {
  from {
    display: none;
    border-color: #f06c64;
  }
  to {
    border-color: rgba(240, 108, 100, 0);
  }
}

@keyframes hiddingBorder {
  from {
    display: none;
    border-color: #f06c64;
  }
  to {
    border-color: rgba(240, 108, 100, 0);
  }
}

@-webkit-keyframes shake {
  25% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@keyframes shake {
  25% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@media screen and (max-width: 1019px) {
  body {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  header {
    width: 100%;
  }
  .our_services {
    padding-top: 38px;
    padding-bottom: 43px;
  }
  .articles_wrapper {
    margin-top: 35px;
  }
  .articles_wrapper article {
    margin-bottom: 42px;
    margin-right: 20px;
  }
  .wrapper p {
    margin-right: 30px;
  }
  .team {
    padding-top: 33px;
  }
  .team-people h3 {
    margin-top: 8px;
    margin-bottom: 0px;
  }
  .team-people .description {
    width: 100%;
  }
  .team-people--icons {
    margin-top: 12px;
  }
  .quote {
    padding-top: 60px;
  }
  .info {
    margin-top: 28px;
  }
  .info form {
    width: 64%;
  }
  .info form .text {
    margin-bottom: 12px;
    padding-left: 10px;
  }
  .info form textarea {
    height: 155px;
  }
  .info form .submit {
    margin-top: 7px;
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 955px) {
  .slider {
    height: 452px;
  }
  .slider-item {
    padding: 5.3% 3.4% 0;
  }
  .slider-item .vertical_mobile img {
    width: 163px;
    height: 347px;
  }
  .slider-item .vertical_mobile .mobile1 {
    width: 145px;
    height: 254px;
    top: 48px;
    left: 10px;
  }
  .slider-item .horisontal_mobile {
    margin-top: 13.2%;
    margin-right: 10.7%;
  }
  .slider-item .horisontal_mobile img {
    width: 344.26px;
    height: 162.36px;
  }
  .slider-item .horisontal_mobile .mobile2 {
    width: 251px;
    height: 144px;
    top: 10px;
    left: 45px;
  }
  .slider-item .shadow {
    border-radius: 19px;
    -webkit-box-shadow: 19px 19px 1px #ce5d56;
            box-shadow: 19px 19px 1px #ce5d56;
  }
  .our_services {
    padding-top: 18px;
    padding-bottom: 21px;
  }
  .our_services__title {
    letter-spacing: 0.2px;
  }
  .articles_wrapper article {
    margin-right: 56px;
    margin-bottom: 62px;
  }
  .articles_wrapper article img {
    margin-top: 2px;
  }
  .articles_wrapper article .article-about h3 {
    margin-top: 9px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper p {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 20px;
    text-align: left;
  }
  .portfolio-header {
    margin-bottom: 28px;
  }
  .portfolio .images img {
    width: 226px;
  }
  .about-us {
    padding-top: 64px;
    padding-bottom: 56px;
  }
  .team {
    margin-left: 2px;
  }
  .team-people {
    margin-right: 18px;
  }
  .team-people h3 {
    margin-top: 7px;
  }
  .team-people .description {
    margin-top: 2px;
  }
  .quote {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  header li {
    padding-top: 8px;
  }
  .arrow-left {
    margin-left: 29px;
  }
  .arrow-right {
    margin-right: 27px;
  }
  .our_services__title {
    text-align: left;
  }
  .quote p {
    text-align: left;
  }
  .contact {
    margin-left: 29px;
  }
  .contact p {
    margin: -6px -2px 17px 0;
    text-align: justify;
  }
  footer {
    font-size: 13px;
  }
}

@media screen and (max-width: 720px) {
  .slider {
    height: 402px;
  }
  .slider-item {
    padding-top: 10%;
  }
  .slider-item .vertical_mobile img {
    width: 130px;
    height: 275px;
  }
  .slider-item .vertical_mobile .mobile1 {
    width: 115px;
    height: 202px;
    top: 38px;
    left: 8px;
  }
  .slider-item .horisontal_mobile img {
    width: 275px;
    height: 130px;
  }
  .slider-item .horisontal_mobile .mobile2 {
    width: 201px;
    height: 114px;
    top: 8px;
    left: 36px;
  }
}

@media screen and (max-width: 560px) {
  .slider {
    height: 360px;
  }
  .slider-item {
    padding-top: 12%;
  }
  .slider-item .vertical_mobile img {
    width: 98px;
    height: 207px;
  }
  .slider-item .vertical_mobile .mobile1 {
    width: 87px;
    height: 151px;
    top: 29px;
    left: 6px;
  }
  .slider-item .horisontal_mobile img {
    width: 207px;
    height: 98px;
  }
  .slider-item .horisontal_mobile .mobile2 {
    width: 151px;
    height: 87px;
    top: 6px;
    left: 27px;
  }
  .arrow-left {
    margin-left: 15px;
  }
  .arrow-right {
    margin-left: 15px;
  }
  .portfolio .images img {
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio .images img {
    width: 170px;
  }
}

@media screen and (max-width: 425px) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 71px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  header .logo {
    font-size: 19px;
    margin-left: 12px;
  }
  header .burger {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25px;
    height: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  header .burger-item {
    background-color: #fff;
    height: 2.4px;
    width: 100%;
    border-radius: 4px;
  }
  header ul {
    position: absolute;
    margin: 0;
    top: 70px;
    height: 100vh;
    background-color: #2d303a;
    width: 278px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 71px;
    padding-top: 152px;
    margin-left: -280px;
  }
  header li {
    margin-left: 0;
    font-size: 24px;
    padding-bottom: 22px;
    letter-spacing: -1px;
  }
  header li:not(:first-child)::after {
    display: none;
  }
  a {
    text-align: center;
    margin: auto;
  }
  .line-header {
    display: none;
  }
  header.mobile-menu-visible .burger {
    -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  header.mobile-menu-visible ul {
    margin-left: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  header.mobile-menu-visible a {
    margin-left: 60px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  header.mobile-menu-hidden ul {
    margin-left: -280px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .slider {
    height: 290px;
  }
  .slider-item {
    padding-top: 91px;
  }
  .slider-item .shadow {
    border-radius: 9px;
    -webkit-box-shadow: 9px 9px 1px #ce5d56;
            box-shadow: 9px 9px 1px #ce5d56;
  }
  .slider-item .vertical_mobile img {
    width: 79px;
    height: 168px;
  }
  .slider-item .vertical_mobile .mobile1 {
    width: 70px;
    height: 123px;
    top: 23px;
    left: 5px;
  }
  .slider-item .horisontal_mobile img {
    width: 168px;
    height: 79px;
  }
  .slider-item .horisontal_mobile .mobile2 {
    width: 123px;
    height: 70px;
    top: 5px;
    left: 22px;
  }
  .arrow {
    top: 167px;
  }
  .arrow-left {
    margin-left: 8px;
  }
  .arrow-right {
    margin-right: 8px;
  }
  .our_services {
    padding-top: 5px;
    padding-left: 31px;
    padding-bottom: 1px;
  }
  .our_services__title {
    margin-right: 0;
  }
  .articles_wrapper {
    margin-top: 28px;
  }
  .articles_wrapper article {
    margin-bottom: 36px;
    margin-right: 56px;
  }
  .portfolio {
    padding: 49px 30px 31px;
  }
  .portfolio ul {
    margin: 9px 0 0 1px;
  }
  .portfolio-header {
    margin-bottom: 25px;
  }
  .portfolio .images {
    margin-right: -10px;
  }
  .portfolio .images img {
    width: 161px;
  }
  .portfolio .images div {
    padding: 0;
  }
  .portfolio .images div:nth-child(n + 9) {
    display: none;
  }
  .about-us {
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 11px;
  }
  .team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 21px;
    padding-bottom: 0;
  }
  .team-people {
    margin-right: 12px;
    margin-bottom: 30px;
  }
  .team-people h3 {
    margin-top: 13px;
  }
  .quote {
    padding-top: 51px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .quote p {
    margin-right: 10px;
  }
  .info {
    margin-top: 24px;
    margin-bottom: 28px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info form {
    width: 100%;
  }
  .info form .text {
    padding-left: 7px;
  }
  .info form textarea {
    height: 159px;
  }
  .info form .submit {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 34px;
    height: 50px;
    font-size: 13px;
  }
  .info .contact {
    width: 100%;
    margin-left: 0;
  }
  .info .contact-info {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 12px;
  }
  .copyright {
    display: none;
  }
  footer .social-icons {
    margin: 0 auto;
  }
}

@media screen and (max-width: 370px) {
  .slider-item {
    padding-top: 110px;
  }
  .slider-item .shadow {
    border-radius: 9px;
    -webkit-box-shadow: 9px 9px 1px #ce5d56;
            box-shadow: 9px 9px 1px #ce5d56;
  }
  .slider-item .vertical_mobile img {
    width: 63px;
    height: 134px;
  }
  .slider-item .vertical_mobile .mobile1 {
    width: 56px;
    height: 98px;
    top: 19px;
    left: 4px;
  }
  .slider-item .horisontal_mobile img {
    width: 134px;
    height: 63px;
  }
  .slider-item .horisontal_mobile .mobile2 {
    width: 98px;
    height: 56px;
    top: 4px;
    left: 17px;
  }
  article .article-about div {
    width: 200px;
  }
  .portfolio li {
    font-size: 9px;
  }
  .portfolio .images img {
    width: 136px;
  }
}
/*# sourceMappingURL=style.css.map */