@font-face {
    font-family: 'Lato-Black';
    src: url("assets/Lato-Black.ttf");
  }
  
  @font-face {
    font-family: 'Lato-Bold';
    src: url("assets/Lato-Bold.ttf");
  }
  
  @font-face {
    font-family: 'Lato-Light';
    src: url("assets/Lato-Light.ttf");    
  }
  
  @font-face {
    font-family: 'Lato-Regular';
    src: url("assets/Lato-Regular.ttf");
  }
  
  * {
      box-sizing: border-box;
  }
  
  body {
    margin: 0 0 6px 0;
    padding: 0;
  }
  
  .wrapper {
    width: 1020px;
    margin: 0 auto;
  
    .title {
      font-family: Lato-Black;
      margin: 0px;
      font-size: 30px;
      letter-spacing: -0.2px;
      line-height: 23px;
      color: #666d89;
    }
  
    p {
      margin-top: 24px;
      margin-bottom: 4px;
      font-family: Lato-Light;
      color: #767e9e;
      font-size: 18px;
      text-align: justify;
      line-height: 30px;
    }
  }
  
  header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 0 40px;
    padding-top: 15px;
    background-color: #2d303a;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Lato-Bold;
  
    .logo {
        font-size: 24px;
        
        &:hover {
            cursor: pointer;
        }

        span {
            color: #f06c64;
        }
    }

    ul {
        display: flex;
        list-style-type: none;
    }
    
    li {
      margin-left: 29px;
      font-size: 12px;
      padding-left: 0px;
      padding-top: 11px;
      position: relative;
  
      &:not(:first-child)::after {
        position: absolute;
        content: ".";
        left: -14px;
        top: 8px;
        opacity: 0.3;
      }

      a:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      a {
        color: #ffffff;
        text-decoration: none;
        
        }
    
        .active {
            color: #f06c64;
        }
    }
}
  
.line {
    height: 5px;
    width: 100%;

    &-header {
      background-color: #323746;
    }
    
}
.red-line{
    background-color: #ea676b; //f06c64
}

.blue-line{
    background-color: #6992Ff;
}
  
  
  .slider {
    height: 595px;
    display: flex;
    position: relative;
    padding: 53px 40px;
    display: flex;
    justify-content: center;

    .shadow {
        border-radius: 25px;
        box-shadow: 25px 25px 1px #ce5d56;
    }

    .vertical_mobile {
        padding-left: 72px;
        position: relative;
        z-index: 1;

        .mobile1 {
            position: absolute;
            width:188px;
            height: 333px;
            top: 65px;
            left: 86px;
            background-color: black;
            z-index: 2;
        }
    }
    
    .horisontal_mobile {
        padding: 121px 98px;
        position: relative;
        z-index: 1;
        
        .mobile2 {
            position: absolute;
            width:333px;
            height: 188px;
            top: 135px;
            left: 158px;
            background-color: black;
            z-index: 2;
        }
    }

}



.slider-controls {
    max-width: 944px;
    margin: 0 40px;
    position: absolute;
    display: flex;
    width: 92%;
    top: 60%;
    justify-content: space-between;
    
    .right img {
      transform: rotate(180deg);
    }
    
    .left, .right {
      z-index: 2;

      &:hover{
        cursor: pointer;
      }
    }
}

.red {
    background-color: #f06c64;
}

.blue {
    background-color: #648BF0;
}

.hidden {
    display: none;
}
  
.our_services {
    background-color: #f2f2f2;
    padding: 37px 15px 39px 40px;
    
    h2 {
        font-family: Lato-Black;
        font-size: 30px;
        margin-top: 29px;
        color: #666d89;
        line-height: 22px;
    }

    &__title {
        margin-top: 10px;
        margin-right: 12px;
        padding-right: 15px;
        text-align: justify;
        font-family: Lato-Light;
        font-size: 18px;
        color: #767e9e;
        line-height: 30px;
        margin-bottom: 3px;
    }
}
  
.articles_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
}
  
article {
    display: flex;
    width: 300px;
    height: 83px;
    margin-right: 20px;
    margin-bottom: 40px;
    
    img {
       width: 59px;
       height: 59px;
       margin-top: 11px;
    }
    
    .article-about {
        padding-left: 20px;

        h3 {
          font-family: Lato-Black;
          font-size: 18px;
          color: #666d89;
          line-height: 0px;
        }

        div {
            height: 65.454px;
            text-align: justify;
            font-family: Lato-Regular;
            font-size: 12px;
            color: #767e9e;
            line-height: 22px;
            overflow: hidden;
        }
    }
}


  //singolo 2
  .portfolio {
    margin-top: 2px;
    background-color: #272C38;
    padding: 65px 40px 47px;

    &-title {
        font-family: Lato-Black;
        margin: 0px;
        font-size: 30px;
        letter-spacing: -0.2px;
        line-height: 23px;
        color: #666d89;
    }
  
    &-description {
        margin-top: 24px;
        margin-bottom: 4px;
        font-family: Lato-Light;
        color: #767e9e;
        font-size: 18px;
        text-align: justify;
        line-height: 30px;
      }
      
    ul {
      display: flex;
      padding: 0;
      margin: 0;
    }
  
    li {
      height: 22px;
      list-style-type: none;
      margin-top: 8px;
      font-family: Lato-Regular;
      color: #767e9e;
      font-size: 12px;
      margin-right: 10px;
      border: 1px solid #767e9e;
      border-radius: 4px;
      padding: 2px 6px;
  
      &:hover {
        cursor: pointer;
        background-color: #dedede;
        color: #767e9e;
        border: 1px solid #dedede;
      }
    }
    
    .active {
      color: #dedede;
      margin-left: 1px;
      border: 1px solid #dedede;
    }
  
    .images {
      display: flex;
      flex-wrap: wrap;
      padding-top: 19px;
  
      img {
        margin: 0 20px 20px 0;
  
        &:nth-child(4n) {
          margin: 0 0 20px 0;
        }
  
        &:nth-child(n + 13){
          display: none;
        }
  
      }
    }
    
    &-line {
      width: 100%;
      height: 6px;
      background-color: #2C3445;
    }
  }
  
  .about-us {
    background-color: #f2f2f2;
    padding: 67px 40px 47px;
  }
  
  .team {
    padding-top: 41px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
  
    &-people {
      width:300px;
      margin-right: 20px;
      
      h3 {
        color: #666d89;
        font-size: 18px;
        font-family: Lato-Black;
        margin-top: 10px;
        margin-bottom: 8px;
        letter-spacing: -0.2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      .description {
        margin-top: 0;
        line-height: 21px;
        color: #767e9e;
        font-size: 12px;
        font-family: Lato-regular;
        letter-spacing: -0.1px;
        word-spacing: 0.3px;
        text-align: justify;
      }
  
      &--icons {
        margin-top: 24px;
        letter-spacing: 4px;
        
        img {
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            background-color: #afb6d1;
          }
        }
      }
    }
  
  }

  .quote {
    background-color: #FF6C64;
    padding: 66px 40px 0;
    margin-top: 6.5px;
    
    &-title {
      font-family: Lato-Black;
      margin: 0px;
      font-size: 30px;
      letter-spacing: -0.2px;
      line-height: 23px;
      color: #fff;
    }
  
    p {
      margin-top: 24px;
      margin-bottom: 4px;
      font-family: Lato-Light;
      color: #fff;
      font-size: 18px;
      text-align: justify;
      line-height: 30px;
    }
  }
  
  .info {
    display: flex;
    margin-top: 45px;
    color: #f0d8d9;
  
    form {
      display:flex;
      flex-direction: column;
      color: #f48c8f;
      align-items: center;
      
      input {
        height: 38px;
      }
      
      .text {
        width: 619px;
        border: none;
        font-size: 12px;
        font-family: Lato-Regular;
        background-color: #D6564F;
        border-radius: 4px;
        margin-bottom: 16px;
        padding-left: 15px;
        
        &::placeholder {
          color: #f48c8f;
        }
      }
      
      textarea{
        height: 200px;
        padding-top: 10px;
      }
  
      .submit {
        width: 100px;
        background-color:  #D6564F;
        margin-bottom: 14px;
        color: #f48c8f;
  
        &:hover {
          cursor: pointer;
          background-color: #f48c8f;
          color: #D6564F;
        }
      }
    }
  }
  
  .contact {
    margin-left: 20px;
    color: #f0d8d9;
    display: flex;
    flex-direction: column;
  
    h3 {
      font-family: Lato-Black;
      font-size: 18px;
      margin-top: -3px;
      margin-bottom: 4px;
    }
  
    p{
      font-family: Lato-Regular;
      font-size: 12px;
      margin-top: 4px;
      line-height: 22px;
      word-spacing: -1px;
      margin-bottom: 25px;
    }
  
    span {
      margin-bottom: 6px;
      font-family: Lato-Regular;
      font-size: 12px;
  
      img {
        margin-right: 13px;
      }

      a {
        color: #f0d8d9;
        text-decoration: none;
      }
    }
  }
  
  .quote-line {
    height: 6px;
    background-color: #FF676C;
  }
  
  footer {
    background-color: #272C38;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: #656d89;
    font-family: Lato-Regular;
    font-size: 12px;
  
    .social-icons {
      margin-top: 4px;
  
      img {
        margin-left: 5px;
        border-radius: 50%;
  
        &:hover {
          cursor: pointer;
          background-color: #afb6d1;
        }
      }
    }
  }